$main-blue: #1596C1;
$main-gray: #AAAAAA;
$fz-caption-h: 80px;
$fz-caption-m: 64px;
$fz-caption-s: 42px;
$fz-price: 30px;
$fz-main-text: 24px;
$fz-support-text: 18px;
$letter-spacing: 0.07em;
$ff-forum: "Forum", sans-serif;
$ff-raleway: "Raleway", sans-serif;
